/* Estilos generales */
* {
    font-family: 'Nunito', sans-serif;
    text-align: justify;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #81B29A;
  }
  /* Estilos del contenedor principal */
  .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para el título principal */
  .content h1 {
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
    margin-bottom: 30px;
  }
  
 .content li {
    margin-bottom: 10px;
  }
  
  /* Estilos para los títulos secundarios */
 .content h2 {
    font-family: 'Signika Negative', sans-serif;
    margin-top: 40px;
  }
  
  /* Estilos para los párrafos */
  .content p {
    margin-bottom: 20px;
  }
  
  /* Estilos para la presentación */
  .presentacion {
    font-size: 18px;
    line-height: 1.5;
  }

/* Hacer la barra de navegación fija en la parte superior */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #011627;
    z-index: 9999;
}

/* Alinear los elementos de la barra de navegación horizontalmente */
.navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Hacer que los elementos de la barra de navegación sean responsivos */
.navbar li {
    flex: 1 0 auto;
    margin: 10px;
    text-align: center;
}

/* Hacer que los enlaces de la barra de navegación sean responsivos */
.navbar li a {
    display: block;
    padding: 10px 20px;
    background-color: none;
    margin: auto;
    color: #fff;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

/* La altura de la barra de navegación */
.content{
    margin-top: 80px; 
}
.proyectos{
  margin-top: 80px; 
}
.contact{
  margin-top: 80px; 
}

/*Bloque de Especialidades*/
.especialidades {
  background-color: #F4F1DE;
  border-radius: 10px;
  padding: 20px;
  color: black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.especialidades h2{
  text-align: center;
}
.especialidades ul{
  list-style: none;
  margin: 20px; 
}

.iconos-especialidades {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.iconos-especialidades img {
  width: 20%;
  height: 20%;
  margin: 0 25px;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}

.iconos-especialidades img:hover {
  opacity: 1;
}

/*Bloque de Herramientas*/
.herramientas {
  background-color: #F4F1DE;
  border-radius: 10px;
  padding: 20px;
  color: black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.iconos-herramientas {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.iconos-herramientas img {
  width: 20%;
  height: 20%;
  margin: 0 25px;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}

.iconos-herramientas img:hover {
  opacity: 1;
}

.herramientas h2 {
  text-align: center;
}

.herramientas ul {
  list-style: none;
  margin: 20px;
}

/*Bloque de aprendizaje*/
.aprendizaje {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 30px;
  color: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: justify;
  justify-content: center;
  position: relative;
}

.aprendizaje h2{
  text-align: center;
  padding: 10px;
}
.aprendizaje ul{
  list-style: none;
  margin: 20px; 
}

/*FOOTER*/
footer {
  background-color: #333;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-section {
  flex: 1;
  text-align: left;
}

.right-section {
  flex: 1;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .footer-container {
    flex-direction: column;
  }

  .left-section,
  .right-section {
    text-align: center;
    margin-bottom: 10px;
  }
}

/*CONTACT*/

/*Redes*/
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.redes img {
  width: 70px;
  height: 70px;
}
.redes h1{
  text-align: center;
  margin: 10%;
}
