/*========ESTILOS GENERALES===============================*/
  * {
    font-family: 'Nunito', sans-serif;
    text-align: justify;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #81B29A;
    height: 100vh;
    overflow-y: auto;
  }
  .navbar li {
    list-style: none;
  }
  a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
  }
  a:hover{
    color:#ffa500
  }
/*==========HEADER==========================================*/
  header{
    position: relative;
    padding: 0 2rem;
  }
/*=============BARRA DE NEVEGACIÓN==========================*/
  .navbar {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #011627;
    z-index: 9999;
    align-items: center;
    justify-content: space-between;
  }
  .navbar li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    display: block;
    padding: 100px 20px;
    background-color: none;
    margin: 10 20;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
  }
  .navbar li a:hover{
    color: orange;
  }
  .logo-wide{
    justify-content: center;
    padding-left: 50px;
  }
  .navbar .logo img, .logo-wide img{
    display: flex;
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0;

  }
  .navbar .links{
    display: flex;
    gap: 2rem;
    padding-right: 50px;
  }
  .navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    padding: 15px 15px;
    cursor: pointer;
    display: none;
  }
  .action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease ;
  }
  .action_btn:hover{
    scale: 1.05;
    color: #fff;
  }
  .action_btn:active{
    scale: 0.95;
  }
/*========DROPDOWN MENU==================================*/
  .dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 63px;
    height: 0;
    width: 300px;
    background: #011627;
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .dropdown_menu li{
    height: 33%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .dropdown_menu.open{
    height: 500px;
  }
/*========RESPONSIVE DESIGN================================*/
  @media(max-width: 992px) {
    .navbar .links,
    .navbar .action_btn{
      display: none;
    }
    .navbar .toggle_btn{
      display: block;
    }
    .logo{
      display: none;
    }
    .logo-wide{
      display: flex;
      justify-content: center;
    }
    .dropdown_menu{
      display: block;
    }
  }
  @media(max-width: 718px) {
    .dropdown_menu{
      left: 2rem;
      width: unset;
    }
    .navbar .toggle_btn{
      display: block;
    }
    .logo-wide{
      justify-content: center;
      padding-left: 40%;
    }
  }
  @media(max-width: 576px){
    .logo-wide{
      justify-content: center;
      padding-left: 38%;
    }
  }
  @media(max-width: 540px){
    .logo-wide{
      justify-content: center;
      padding-left: 38%;
    }
  }
/* Mostrar elementos de menú en una lista horizontal en vista de paisaje */
  @media (max-width: 915px) and (orientation: landscape) {
    .dropdown_menu {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 500px;
    }
    .dropdown_menu.open{
      height: 100px;
    }
    .dropdown_menu li {
      height: 100%;
      width: 33%;
    }
    .logo-wide{
      padding-left:4%;
    }
  }
  @media (max-width: 300px){
    .logo-wide{
      justify-content: center;
      padding-left: 30%;
    }
  }
  @media (max-width: 375px){
    .logo-wide{
      justify-content: center;
      padding-left: 35%;
    }
  }


  .aviso{
    text-align: center;
  }
  /* Estilos del contenedor principal */
  .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para el título principal */
  .content h1 {
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
    margin-bottom: 30px;
  }
  
 .content li {
    margin-bottom: 10px;
  }
  
  /* Estilos para los títulos secundarios */
 .content h2 {
    font-family: 'Signika Negative', sans-serif;
    margin-top: 40px;
  }
  
  /* Estilos para los párrafos */
  .content p {
    margin-bottom: 20px;
  }
  
  /* Estilos para la presentación */
  .presentacion {
    font-size: 18px;
    line-height: 1.5;
  }

/* La altura de la barra de navegación */
.content{
    margin-top: 80px;
}
/*Bloque de Especialidades*/
.especialidades {
  background-color: #F4F1DE;
  border-radius: 10px;
  padding: 20px;
  color: black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.especialidades h2{
  text-align: center;
}
.especialidades ul{
  list-style: none;
  margin: 20px; 
}
.iconos-especialidades {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
}
.iconos-especialidades img {
  width: 20%;
  height: 20%;
  margin: 0 20px;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}
.iconos-especialidades img:hover {
  opacity: 1;
}

/*Bloque de Herramientas*/
.herramientas {
  background-color: #F4F1DE;
  border-radius: 10px;
  padding: 20px;
  color: black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.iconos-herramientas {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
}
.iconos-herramientas img {
  width: 20%;
  height: 20%;
  margin: 0 20px;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}
.iconos-herramientas img:hover {
  opacity: 1;
}
.herramientas h2 {
  text-align: center;
}
.herramientas ul {
  list-style: none;
  margin: 20px;
}

/*Bloque de aprendizaje*/
.aprendizaje {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 30px;
  color: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: justify;
  justify-content: center;
  position: relative;
}
.aprendizaje h2{
  text-align: center;
  padding: 10px;
}
.aprendizaje ul{
  list-style: none;
  margin: 20px; 
}

/*FOOTER*/
footer {
  background-color: #333;
  color: black;
  font-size: 14px;
  text-align: center;
  padding: 20px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  min-height: 10vh;
}
.up-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 120%;
  padding: 10px;
}
.cita{
  flex: 1;
  color: white;
}
.redes{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  flex: 1;
}
.bottom-section {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.redes img{
  width: 60px;
  height: 60px;
}
@media (max-width: 767px) {
  /* Estilos para dispositivos móviles */
  /*FOOTER*/
  .footer-container {
    flex-direction: column;
  }
  .up-section{
    flex-direction: column;
  }
  .cita{
    margin-bottom: 25px;
    text-align: center;
  }
  .redes img{
    /*CAMBIAR TAMAÑO DE IMAGENES*/
    width: 50px;
    height: 50px;
  }
}